.container .h1-title {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}
 
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    width: 500px;
    height: 500px;
    grid-template-areas:
        "a b c"
        "d e f"
        "g h i";
}
 
.celula1 {
    grid-area: a;
    background-color: red;
    text-align: center;
    width: auto;
    height: auto;
    cursor: pointer;
}
 
#paragrafo-celula1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    color: black;
    font-size: 50px;    
}
 
.celula2 {
    grid-area: b;
    background-color: blue;
    text-align: center;
    cursor: pointer;
}
 
#paragrafo-celula2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    color: black;
    font-size: 50px;    
}
 
.celula3 {
    grid-area: c;
    background-color: green;
    text-align: center;
    cursor: pointer;
}
 
#paragrafo-celula3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    color: black;
    font-size: 50px;    
}
 
.celula4 {
    grid-area: d;
    background-color: yellow;
    text-align: center;
    cursor: pointer;
}
 
#paragrafo-celula4 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    color: black;
    font-size: 50px;    
}
 
.celula5 {
    grid-area: e;
    background-color: purple;
    text-align: center;
    cursor: pointer;
}
 
#paragrafo-celula5 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    color: black;
    font-size: 50px;    
}
 
.celula6 {
    grid-area: f;
    background-color: orange;
    text-align: center;
    cursor: pointer;
}
 
#paragrafo-celula6 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    color: black;
    font-size: 50px;    
}
 
.celula7 {
    grid-area: g;
    background-color: pink;
    text-align: center;
    cursor: pointer;
}
 
#paragrafo-celula7 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    color: black;
    font-size: 50px;    
}
 
.celula8 {
    grid-area: h;
    background-color: cyan;
    text-align: center;
    cursor: pointer;
}
 
#paragrafo-celula8 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    color: black;
    font-size: 50px;    
}
 
.celula9 {
    grid-area: i;
    background-color: lime;
    text-align: center;
    cursor: pointer;
}
 
#paragrafo-celula9 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    color: black;
    font-size: 50px;    
}
 
#vencedor {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    color: black;
    font-size: 30px;
    margin-bottom: 5px; 
}
 
.button-reset {
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;   
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 2px;
    margin-bottom: 5px;
}
 
.button-reset:hover {
    background-color: rgb(16, 16, 204);
    transition: all 0.3s ease-in-out;
    color: black;
}